.container {
    padding-bottom: 20px;
}

.title {
    text-align: left;
}

.name {
    margin-bottom: 10px;
}

.photo {
    margin-bottom: 10px;
}

.subInfo {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.ingredientIds {
    vertical-align: top;
}

.ingredientImage {
    border-radius: 50%;
    border: 1px solid #462568;
    width: 50px;
    height: 50px;
    background-color: #141418;
}

.content {
    max-height: 300px;
    overflow-y: auto;
}

.ingredientRow {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.currency {
    padding-left: 10px;
}