.ingredientList {
    height: 600px;
}

.chosenItem {
    margin-bottom: 16px;
}

li {
    list-style-type: none;
}

.dynamicPart {
    height: 400px;
    overflow-y: auto;
}

.burgerConstructor {
    margin-top: 100px;
    margin-left: 40px;
}

.totalBar {
    margin-top: 40px;
    text-align: right;
}

.makeOrderBtn {
    margin-left: 40px;
}