.twoColumns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
}

.active {
    color: white
}

.inactive {
    color: grey
}

.navListContainer {
    width: 400px;
}

.navLink {
    text-decoration: none;
}

.profileContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}