.itemContainer {
    border-radius: 30px;
    background-color: #1C1C21;
    padding: 20px;
    margin: 20px 20px 20px 0px;
}

.ingredientIds {
    vertical-align: top;
}

.fullname {
    font-weight: bold;
    word-break: "normal";
}

.ingredientImage:not(:first-child) {
    margin-left: -10px;
}

.ingredientImage {
    border-radius: 50%;
    border: 1px solid #462568;
    width: 50px;
    height: 50px;
    background-color: #141418;
}

.currency {
    padding-left: 10px;
}

.oneLeftOneRight {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}