.title {
    text-align: left
}

.name {
    margin-bottom: 32px;
}

.ordersContainer {
    margin-top: 40px;
    width: 500px;
}

.ordersList {
    overflow-y: auto;
    max-height: 700px;
    height: 100%;
}